<!DOCTYPE html>
<html>
<head>
  <title>MovieApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li> <%= link_to "Home", root_path %> </li>
      <li> <%= link_to "Reviews", reviews_path %> </li>
    </ul>
    <%= link_to "Add New Movie", new_movie_path, class: "btn btn-primary navbar-btn navbar-right" %>
  </div>
</nav>

<div class="container">
  <div class="row">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>
  </div>
</div>

</body>
</html>
