<h1>Results</h4>


<%= "You picked" %>
</br>
<%= image_tag(@player_pick[:image_link]) %>
</br>
</br>



<%= "The computer picked" %>
</br>
<%= image_tag(@computer_guess[:image_link]) %>
</br>



<% if @winner == 'win' %>
  <%= render 'win' %>
<% else %>
  <%= render 'lose' %>
<% end %>

</br>
</br>
<%=link_to "Let's play a new game", new_rps_game_path %>
