<%= link_to "Back", artists_path %>
<h1><%= @artist.name %></h1>
<%= link_to "Edit", edit_artist_path %>
<%= link_to 'Delete', @movie, method: :delete, data: {confirm: 'Are you sure you?' } %>

<h3>Songs</h3>
<% @artist.songs.each do |song| %>
<ul>Name: <%=song.name %>, Release Date: <%=song.released %></ul>

<%= link_to "Edit", edit_song_path(song) %>
<%= link_to 'Delete', song, method: :delete, data: {confirm: 'Are you sure you?' } %>
<% end %>

<%= link_to "Add Song", new_song_path(:artist_id => @artist.id) %>
