<div style="font-family: 'Open Sans', sans-serif;">
<h1><%= @record_label.label_name %></h1>
<div class="panel panel-default panel-transparent">
  <div class="panel-heading">
    <h3 class="panel-title">Artists</h3>
  </div>
  <div class="panel-body"> 
<table class="table">
  <tr>
    <th>Name/Group</th>
    <th></th>
  </tr>
<% @record_label.artists.each do |artist| %>
    <tr>
      <td class="col-md-8"><%= artist.fname %> <%= artist.lname %></td>
      <td class="col-md-2">
      	<%=link_to "Learn More", artist_path(artist), class: 'btn btn-xs btn-primary' %>
      	<%=link_to "Edit", edit_artist_path(artist), class: 'btn btn-xs btn-default' %>
      	<%=link_to "Delete", artist, method: :delete, data: {confirm: "Do you really want to remove this artist?"}, class: 'btn btn-xs btn-default' %>
    </tr>
  <% end %>
</table>
<p> <%=link_to "Add an artist", new_artist_path, class: 'btn btn-md btn-default' %> </p>
</div>
</div>
</div>