<h1><%= @record_label.name %></h1>

<table class="table table-hover">
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">Added</th>
    <th class="text-center">Edit/Delete</th>
  </tr>
  <% @record_label.artists.each do |artist|  %>
  <tr>
    <td class="text-center"><%= link_to "#{artist.name}", artist_path(artist) %></td>
    <td class="text-center"><%= artist.created_at.to_s(:short) %></td>
    <td class="text-center">
      <%= link_to "Edit", edit_artist_path(artist.id), class: "btn btn-sm btn-default" %>
      <%= link_to "Delete", artist, method: :delete, data: { confirm: "You sure?" },  class: "btn btn-sm btn-default" %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to "Add New Artist", new_artist_path(:record_label_id => @record_label.id), class: "btn btn-primary btn-lg" %>