<h1>Songs</h1>

<table class="table table-hover">
  <tr>
    <th class="text-center">Song</th>
    <th class="text-center">Artist</th>
    <th class="text-center">Edit/Remove</th>
  </tr>
  <% @songs.each do |song| %>
  <tr>
    <td class="text-center"><%= song.name %></td>
    <td class="text-center"><%= link_to "#{song.artist.name}", artist_path(song.artist) %></td>
    <td class="text-center">
      <%= link_to "Edit", edit_song_path(song.id), class: "btn btn-sm btn-default" %>
      <%= link_to "Delete", song, method: :delete, data: { confirm: "You sure?" },  class: "btn btn-sm btn-default" %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to "New Song", new_song_path, class: "btn btn-primary btn-md" %>