<h1>Artists</h1>

<table class="table table-hover">
  <tr>
    <th class="text-center">Name</th>
    <th class="text-center">Label</th>
    <th class="text-center">View/Edit/Remove</th>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
    <td class="text-center"><%= link_to "#{artist.name}", artist_path(artist) %></td>
    <td class="text-center"><%= artist.record_label %></td>
    <td class="text-center">
      <%= link_to "Show", artist_path(artist), class: "btn btn-sm btn-default"%>
      <%= link_to "Edit", edit_artist_path(artist.id), class: "btn btn-sm btn-default" %>
      <%= link_to "Delete", artist, method: :delete, data: { confirm: "You sure?" },  class: "btn btn-sm btn-default" %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to "New Artist", new_artist_path, class: "btn btn-primary btn-md" %>
