<h1>Add new movie</h1>

<%= simple_form_for @movie, :html => {:class => "col-md-6 col-md-offset-3"} do |f| %>
  <%= f.input :title %>
  <%= f.input :date_released %>
  <%= f.input :description %>
  <%= f.submit "Update", :class => 'btn btn-primary btn-block' %>
<% end %>
