<h1>Record Labels</h1>

<% if @record_labels.length > 0  %>
<table class="table table-hover">
  <tr>
    <th class="col-md-2 text-center">Cover</th>
    <th class="col-md-3 text-center">Name</th>
    <th class="col-md-5 text-center">Artists</th>
    <th class="col-md-2 text-center">Edit/Remove</th>
  </tr>
  <% @record_labels.each do |record_label| %>
  <tr>
    <td><%= image_tag(record_label.image_url, class: "img-responsive")  %></td>
    <td class="text-center"><%= link_to "#{record_label.name}", record_label_path(record_label) %></td>
    <td>
      <% record_label.artists.limit(5).each do |artist| %>
        <%= link_to "#{artist.name}", artist_path(artist) %><br />
      <% end %>
    </td>
    <td class="text-center">
      <%= link_to edit_record_label_path(record_label.id), class: "btn btn-sm btn-default" do %>
        <i class="fa fa-pencil text-success"></i>
      <% end %>
      <%= link_to record_label, method: :delete, data: { confirm: "You sure?" },  class: "btn btn-sm btn-default" do %>
        <i class="fa fa-remove text-danger"></i>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<%= link_to "Add New Label", new_record_label_path(), class: "btn btn-primary btn-lg" %>
<% else %>
<div class="col-md-12">
  <p class="text-center">No labels yet!</p>
</div>
<% end %>
